<header class="header">
    <h1><img src="https://cdnbitmaps.eltiempo.es/images/content/logo2x.svg" class="logo"></h1>
    <ul class="header-list">
        <li class="header__list">Predición</li>
        <li class="header__list">Mapas</li>
        <li class="header__list">Actividades</li>
        <li class="header__list">Salud</li>
        <li class="header__list">Calidad de imagen</li>
        <li class="header__list">Noticias</li>
        <li class="header__list">Fotos</li>
        <li class="header__list">Videos</li>
        <li class="header__list"><img src="https://www.eltiempo.es/images/content/user/avatar.svg" class="user"></li>
    </ul>
</header>