<div class="app-home-component">
  <h1 class="container">
    <a routerLink="/home" class="container__routerlink"><img
        src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/2e/Fnac_Logo.svg/499px-Fnac_Logo.svg.png"
        class="container__logo"></a>
  </h1>

  <ul class="container__list">
    <li class="container__link"><a routerLink="/home" class="container__link">Home</a></li>
    <li class="container__link"><a routerLink="/films" class="container__link">Films</a></li>
    <li class="container__link"><a routerLink="/games" class="container__link">Games</a></li>
    <li class="container__link"><a routerLink="/discs" class="container__link">Discs</a></li>
  </ul>
</div>
<section>
  <div *ngFor="let disc of discs; let i = index;">
    <h3>
      <a routerLink="/discs/{{ i }}">{{ disc.singer }}</a>
    </h3>
    <img class="foto-disc" src="{{ disc.fotoUrl }}" alt="">
    <p>{{ disc.autor }}</p>
  </div>
</section>