<div class="footer">
    <p class="footer__parraf">España</p>
</div>
<div class="subfooter">
    <ul class="subfooter__left">
        <li class="subfooter__parraf-left">Publicidad</li>
        <li class="subfooter__parraf-left">Empresa</li>
        <li class="subfooter__parraf-left">Acerca de</li>
        <li class="subfooter__parraf-left">Como funciona la búsqueda</li>
    <ul class="subfooter__right">
        <li class="subfooter__parraf-right">Privacidad</li>
        <li class="subfooter__parraf-right">Condiciones</li>
        <li class="subfooter__parraf-right">Configuración</li>
    </ul>
    </ul>
</div>
